@import url('https://fonts.googleapis.com/css2?family=Arima:wght@100;200;300;400;500;600;700&display=swap');

* {
    margin: 0;
    font-family: "Roboto", system-ui;
}

:root {
    background-color: #000e18;
}

body {
    font-weight: 600;
    font-size: small;
    font-style: normal;
    background-color: #020b13;
    color: #ffffff;
    display: flex;
    justify-content: center;
    background: linear-gradient(270deg, #020b13, #00101b, #000e18, #001727);
    background-size: 200% 200%;
    animation: gradientAnimation 120s ease infinite;
    align-items: center;
}



.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 2px;
    margin-top: 8px;
    padding-right: 2px;
    width: 720px;
    max-width: 1280px;
    text-align: center;
}

h1 {
    margin-bottom: 20px;
    color: #0099ff;
}

form {
    display: flex;
    flex-direction: column;
}

.description {
    padding-top: 2rem;
    text-align: justify;
    font-weight: normal;
}

label {
    margin-bottom: 2px;
    font-size: 1rem;
    text-align: left;
    color: #ffffff;
}

.shoplink {
    color: white;
    text-decoration: underline;
    transition: all 100ms;
}

input {
  font-weight: 600;
  border: none;
  color: rgb(255, 247, 231);

  &&::placeholder {
    color: rgba(255, 247, 231, 0.527);
  }
}

input[type="number"],
select {
    padding: 0.7rem;
    border: none;
    background-color: transparent;
    outline: none;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 600;
    color: rgb(255, 247, 231);
    appearance: none;

    &:focus {
        border-color: #007acc; /* Change border color on focus */
        box-shadow: 0 0 5px rgba(0, 122, 204, 0.5); /* Add a subtle shadow */
    }
}

option {
    padding: 0.5rem;
    background: #003052;
}

.options:hover {
    background-color: #003052;
}

input[type="submit"] {
  background-color: #007acc;
  color: white;
  border: none;
  padding: 0.7rem;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: all 200ms;

}

input[type="submit"]:hover {
    scale: 102%;
    background-color: #005fa3;
}

table {
    border-collapse: collapse;
    text-align: center;
}
th, td {
    padding: 12px;
    border: 1px solid #ddd;
}
th {
    background-color: #f2f2f2;
}
tr:nth-child(even) {
    background-color: #f9f9f9;
}
img {
    object-fit: cover;
    max-height: 276px;
}

.image-name {
    display: flex;
    border: 2px solid;
    border-radius: 4px;
    align-items: center;
}

.results-container {
    max-width: 1280px;
    margin: 24px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.results-heading {
    margin-bottom: 1rem;
}

.game-details {
    padding-left: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 18px;
}

.game-container {
    display: flex;
    flex-direction: row;
    height: 280px;
    padding: 1rem;
}

.divider {
    width: 100%;
    border: 0.2px solid rgba(255, 255, 255, 0.466);
}

i {
    margin-right: 12px;
}

.back {
    text-align: center;
    align-self: center;
    font-size: large;
    width: 300px;
    text-decoration: none;
    margin-top: 2rem;
    margin-bottom: 8px;
    padding: 8px;
    background-color: #007acc;
    color: wheat;
    border: 1px solid whitesmoke;
    border-radius: 8px;
    transition: all 200ms;

    &:hover {
        scale: 102%;
        background-color: #003052;
        cursor: pointer;
    }
}

a {
    text-decoration: none;
}

@media (max-width: 768px) {
    body {
        font-size: 0.9rem;
    }

    .container {
        width: 100%;
        padding-left: 16px;
        padding-right: 16px;
        margin-top: 0;
    }

    h1 {
        font-size: 1.3rem;
        padding-bottom: 1rem;
    }

    label {
        font-size: 0.9rem;
    }

    input, select {
        font-size: 14px;
        padding: 0.7rem;
    }

    input[type="submit"] {
        font-size: 14px;
        padding: 0.7rem;
    }

    .results-container {
        margin: 16px;
    }

    h2 {
        text-align: center;
        padding-bottom: 1rem;
    }

    .game-container {
        flex-direction: column;
        height: auto;
        padding: 1rem;
    }

    .game-details {
        padding-left: 0;
        gap: 0.5rem;
        margin: 12px;
    }

    .back {
        width: 100%;
        font-size: medium;
        padding: 8px;
    }

    img {
        justify-content: center;
        height: 350px;
        width: max-content;
        max-width: 100%;
    }

    .image-name {
        justify-content: center;
    }
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}