/* static/styles.css */
table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
    font-family: Helvetica, sans-serif;
    text-align: center;
}

th, td {
    padding: 12px;
    border: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

img {
    width: 100px;
}

