@import url('https://fonts.googleapis.com/css2?family=Arima:wght@100;200;300;400;500;600;700&display=swap');

* {
    margin: 0;
    font-family: "Arima", system-ui;
}

body {
    font-weight: 700;
    font-size: small;
    font-style: normal;
    background-color: #020b13;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  padding-left: 2px;
  margin-top: 8px;
  padding-right: 2px;
    width: 720px;
    max-width: 1280px;

    text-align: center;
}

h1 {
    margin-bottom: 20px;
    color: #0099ff;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 2px;
    font-size: 1rem;
    text-align: left;
    color: #ffffff;
}

input {
  font-weight: 600;
  border: none;
  color: rgb(255, 247, 231);

  &&::placeholder {
    color: rgba(255, 247, 231, 0.527);
  }
}

input[type="number"],
select {
    padding: 0.5rem;
    border: none;
    background-color: transparent;
    outline: none;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 600;
    color: rgb(255, 247, 231);
    appearance: none;

    &:focus {
        border-color: #007acc; /* Change border color on focus */
        box-shadow: 0 0 5px rgba(0, 122, 204, 0.5); /* Add a subtle shadow */
    }
}

option {
    background: #003052;
}

.options:hover {
    background-color: #003052;
}

input[type="submit"] {
  background-color: #007acc;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: all 200ms;

}

input[type="submit"]:hover {
    scale: 102%;
    background-color: #005fa3;
}

table {
    border-collapse: collapse;
    text-align: center;
}
th, td {
    padding: 12px;
    border: 1px solid #ddd;
}
th {
    background-color: #f2f2f2;
}
tr:nth-child(even) {
    background-color: #f9f9f9;
}
img {
    object-fit: cover;
    max-height: 276px;
}

.image-name {
    display: flex;
    border: 2px solid;
    border-radius: 4px;
    align-items: center;
}

.results-container {
    max-width: 1280px;
    margin: 24px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.game-details {
    padding-left: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 18px;
}

.game-container {
    display: flex;
    flex-direction: row;
    height: 280px;
    padding: 1rem;
}

.divider {
    width: 100%;
    border: 0.5px solid rgba(255, 255, 255, 0.466);
}

i {
    margin-right: 12px;
}

.back {
    text-align: center;
    align-self: center;
    font-size: large;
    width: 300px;
    text-decoration: none;
    margin-top: 8px;
    margin-bottom: 8px;
    padding: 8px;
    background-color: #007acc;
    color: wheat;
    border: 1px solid whitesmoke;
    border-radius: 8px;
    transition: all 200ms;

    &:hover {
        scale: 102%;
        background-color: #003052;
    }
}