@import url('https://fonts.googleapis.com/css2?family=Arima:wght@100;200;300;400;500;600;700&display=swap');

* {
    margin: 0;
    font-family: "Arima", system-ui;
}

body {
    font-weight: 700;
    font-size: small;
    font-style: normal;
    background-color: #020b13;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
  padding-left: 2px;
  padding-right: 2px;
    width: 720px;
    max-width: 1280px;

    text-align: center;
}

h1 {
    margin-bottom: 20px;
    color: #0099ff;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 2px;
    font-size: 1rem;
    text-align: left;
    color: #ffffff;
}

input {
  font-weight: 600;
}

input[type="number"],
select {
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 600;
}

input[type="submit"] {
  background-color: #007acc;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: all 200ms;
}

input[type="submit"]:hover {
    scale: 102%;
    background-color: #005fa3;
}