<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-BTDMG4DH7C"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-BTDMG4DH7C');
</script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OnBoard Games</title>
    <!-- Link to CSS file -->
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='pics/onboardgames-logo.webp') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Arima:wght@100..700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <div class="container">
        <h1>Find Your Perfect Board Game! 🚀</h1>
        <form action="/filter" method="post">
            <label for="maxplayers">Number of Players <i class="fa-solid fa-user"></i></label>
            <input type="number" id="maxplayers" name="maxplayers" required placeholder="Enter number of players"><br><br>

            <label for="maxplaytime">Play Time <i class="fa-solid fa-clock"></i></label>
            <input type="number" id="maxplaytime" name="maxplaytime" required placeholder="Enter the maximum play time in minutes"><br><br>

            <label for="gameweight">Difficulty Level <i class="fas fa-exclamation-circle"></i></label>
            <select id="gameweight" name="gameweight" required>
                <option value="basic">Basic</option>
                <option value="intermediate">Intermediate</option>
                <option value="advanced">Advanced</option>
            </select><br><br>

            <label for="category">Category <i class="fas fa-tags"></i></label>
            <select id="category" name="category" required>
                <option value="party">Party</option>
                <option value="strategy">Strategy</option>
                <option value="war">War</option>
                <option value="family">Family</option>
                <option value="abstract">Abstract</option>
            </select><br><br>

            <input type="submit" value="Find Games">
        </form>
    </div>
    <div>
    </div>
</body>
</html>
